.Detail {
  position: relative;
  width: 100%;
}

#article {
  position: relative;
  width: calc(100% - 550px);
  padding: 30px;
  padding-left: 125px;
  padding-right: 125px;
}

pre {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #abb2bf;
  background: #282c34;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 5px;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 1em;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

p > code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

p img{
  /* 图片居中 */
  margin: 10px 0;
  display: flex;
}

p {
  margin: 10px 0;
  line-height: 25px;
  color: #333333;
}

a {
  color: #b43186;
}

ul {
  margin: 10px 0;
}

li {
  list-style: disc;
  margin: 10px 0 10px 20px;
}
